* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table caption{
    
    color: black;
    text-align: center;
    padding: 50px;
}
table {
    width: 100%;
    height: 25%
}

td {
    border: 2px black solid;
}

th,
td {
    text-align: center;
}

td,
a {
    text-decoration: none;
}

.btn {
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: green;
}

.edit {
    background: orange;
}

.delete {
    background: crimson;
}

a {
    display: block;
    color: black;
}