<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
</head>

<body>
    <div class="container">

        <form action="{{url_for('criar')}}" method="post">
            <label>nome</label><input type="text" name="nome" required placeholder="digite um produto" >
            <input type="submit" value="enviar">
            <input type="reset" value="limpar">
        </form>

    </div>

</body>

</html>