<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">

</head>

<body>
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>ação</th>

        </tr>
        {% for usuario in usuario %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td class="edit"><a href="/edit/{{usuario.id}}">edit</a></td>
            <td class="delete"><a href="/delete/{{usuario.id}}">delete</a></td>
        </tr>

        {%endfor%}
    </table>





    <a class="btn" href="{{url_for('form')}}">criar</a>





</body>

</html>