<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">

</head>

<body>
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
        </tr>
        {% for usuario in usuario %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td><a href="/edit/{{usuario.id}}">edit</a></td>
            <td><a href="/delete/{{usuario.id}}">delete</a></td>
        </tr>
        {%endfor%}
    </table>



    <button>
   
        <a href="{{url_for('form')}}">criar</a>
    </button>




</body>

</html>